<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}"/>
    <link rel="stylesheet" href="/bundle.css">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
  </head>
  <body>
    <div class="wrapper">
      {{ content | safe }}
    </div>
    <footer class="footer">
      <div class="content has-text-centered">
        <p xmlns:cc="http://creativecommons.org/ns#">
          Except where otherwise noted, the content on this website is licensed under
          <a
            href="http://creativecommons.org/licenses/by-sa/4.0/?ref=chooser-v1"
            target="_blank"
            rel="license noopener noreferrer"
            style="display: inline-block">Attribution-ShareAlike 4.0 International<img
              style=" height: 22px !important; margin-left: 3px; vertical-align: text-bottom; "
              src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1"><img
              style=" height: 22px !important; margin-left: 3px; vertical-align: text-bottom; "
              src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1"><img
              style=" height: 22px !important; margin-left: 3px; vertical-align: text-bottom; "
              src="https://mirrors.creativecommons.org/presskit/icons/sa.svg?ref=chooser-v1">
          </a>
        </p>
        <p>
          The
          <a href="https://github.com/Pass2Heaven/pass2heaven.org" target="_blank">source code</a>
          of this website is licensed under
          <a href="https://github.com/Pass2Heaven/pass2heaven.org/blob/main/COPYING">AGPL-3.0 license</a>.
        </p>
        <p>Copyright (c) 2024 Pass2Heaven contributors</p>
      </div>
    </div>
  </body>
</html>